<h1>Listing likes</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Artist name</th>
    <th>Number of likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @likes.each do |like| %>
  <tr>
    <td><%= like.event_id %></td>
    <td><%= like.artist_name %></td>
    <td><%= like.number_of_likes %></td>
    <td><%= link_to 'Show', like %></td>
    <td><%= link_to 'Edit', edit_like_path(like) %></td>
    <td><%= link_to 'Destroy', like, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Like', new_like_path %>
