<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @like.event_id %>
</p>

<p>
  <b>Artist name:</b>
  <%= @like.artist_name %>
</p>

<p>
  <b>Number of likes:</b>
  <%= @like.number_of_likes %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
